*{
  font-family: 'Press Start 2P', monospace; 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./images/pixel_snow_landscape_by_owlmaddie_d9bi0dd-fullview.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.all {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(0, 128, 79), rgb(111, 164, 255), rgb(255, 0, 68));
  align-items: center;
  padding: 3rem;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.7);
  border: 1px solid black;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  text-shadow: -3px 3px 0px rgba(0, 0, 0, 0.5);
}

.board-container {
  display: flex;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 20px;}

.drop-box {
  width: 150px;
  height: 150px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 2rem;
  box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.5);

}

.reset-btn {
  margin-top: 20px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.5);
}.reset-btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background-color: rgb(185, 185, 185);
}.reset-btn:active {
  transform: scale(1.3);
  transition: 0.1s;
}

.drag {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.drag-box1 {
  width: 100px;
  height: 100px;
  cursor: grab;
}.drag-box1 img {
  width: 100%;
  height: 100%;
}.drag-box1:hover {
  transform: scale(1.1);
  transition: 0.5s;
}.drag-box1:active {
  transform: scale(1.5);
  transition: 0.1s;
  cursor: grabbing;
}

.drag-box2 {
  width: 100px;
  height: 100px;
  cursor: grab;
}.drag-box2 img {
  width: 100%;
  height: 100%;
}.drag-box2:hover {
  transform: scale(1.1);
  transition: 0.5s;
}.drag-box2:active {
  transform: scale(1.5);
  transition: 0.1s;
  cursor: grabbing;
}

.cross, .circle{
  width: 100%;
  height: 100%;
}